app = "music-3qdida"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  MODEL_PATH = "/app/pretrained_models"
  DEFAULT_STEMS = "2"
  MAX_ALLOWED_STEMS = "5"
  MAX_CONTENT_LENGTH_MB = "40"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 4096

